/*指针样式*/
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
/*链接小手样式*/
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}

/* 页脚透明 */
#footer{
    background: transparent!important;
  }
  /* 头图透明 */
  #page-header{
    background: transparent!important;
  }
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  #page-header.post-bg:before {
    background-color: transparent!important;
  }
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
    #footer::before{
        background: transparent!important;
      }
  [data-theme="dark"]
    #page-header::before{
      background: transparent!important;
      }
  

/* 夜间模式下背景宇宙星光 */
#universe {  
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
/* 亮色模式下隐藏 */
[data-theme='light'] #universe {
  display: none;
}

@font-face{
  font-family: 'WK' ;  /* 字体名自定义即可 */
  src: url('../fonts/LXGW.ttf') format('truetype'); /* 字体文件路径 */
  font-display : swap;
}

body{
  /* font-family: 'WK', sans-serif;  */
  /* 字体名自定义即可 */
  /* font-size: 101% */


  /* 将原来的 'WK' 改为 CDN 字体库的标准名称 'LXGW WenKai Screen' */
  font-family: 'LXGW WenKai Screen', sans-serif !important;
  
  /* 也就是从这样：font-family: 'WK', sans-serif; */
  /* 变成了上面那样 */
}
